body {
    background: #f5fafd;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    background: #fff;
    padding: 25px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

select, input, textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

textarea {
    height: 90px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.save-btn {
    background: #ffb100;
    color: #000;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn {
    padding: 10px 18px;
    background: #ddd;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
}

.save-btn:hover {
    background: #ff9800;
}
